.calc-button {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.05), alpha(@accent_bg_color, 0.05)), image(@view_bg_color);
  color: @accent_color;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 600;
  min-width: 24px;
  padding: 16px;
}

.calc-button:hover {
  background: linear-gradient(0deg, alpha(@view_fg_color, 0.08), alpha(@view_fg_color, 0.08)), image(alpha(@accent_bg_color, 0.05));
}

.calc-button:active {
  background: linear-gradient(0deg, alpha(@view_fg_color, 0.12), alpha(@view_fg_color, 0.12)), image(alpha(@accent_bg_color, 0.05));
}

.operator {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.11), alpha(@accent_bg_color, 0.11)), image(@view_bg_color);
  color: @accent_color;
}

.operator:hover {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.08), alpha(@accent_bg_color, 0.08)), image(alpha(@accent_bg_color, 0.11));
}

.operator:active {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.12), alpha(@accent_bg_color, 0.12)), image(alpha(@accent_bg_color, 0.11));
}

.destructive-operator {
  background: linear-gradient(0deg, alpha(@error_bg_color, 0.05), alpha(@error_bg_color, 0.05)), image(@view_bg_color);
  color: @error_color;
}

.destructive-operator:hover {
  background: linear-gradient(0deg, alpha(@error_bg_color, 0.08), alpha(@error_bg_color, 0.08)), image(alpha(@error_bg_color, 0.05));
}

.destructive-operator:active {
  background: linear-gradient(0deg, alpha(@error_bg_color, 0.12), alpha(@error_bg_color, 0.12)), image(alpha(@error_bg_color, 0.05));
}

.calc-entry {
  border-radius: 2px;
  background: none;
  padding: 8px 12px;
  box-shadow: none;
  outline-color: transparent;
}

.calc-label {
  background: none;
  box-shadow: none;
  outline-color: transparent;
}

.temp-tf {
  font-size: 40px;
  font-weight: 300;
}