.calc-button {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.05), 0.92);
  color: @view_fg_color;
  border-radius: 999px;
  font-size: 18px;
  font-weight: 400;
  min-height: 55px;
  min-width: 32px;
}
.calc-button:hover {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.1), 0.92);
}
.calc-button:active {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.15), 0.92);
}
.operator {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.2), 0.92);
  color: @view_fg_color;
}
.operator:hover {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.3), 0.92);
}
.operator:active {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.4), 0.92);
}
.calc-entry {
  border-radius: 0px;
  background: none;
  padding: 8px 12px;
  box-shadow: none;
  outline-color: transparent;
}
.calc-label {
  background: none;
  box-shadow: none;
  outline-color: transparent;
}

.suggested-action {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.suggested-action:hover {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.3), 0.3);
}
.suggested-action:active {
  background: mix(@accent_bg_color, alpha(@view_fg_color, 0.4), 0.3);
}