.calc-button {
  border-radius: 999px;
  margin: 6px;
  font-size: 18px;
  font-weight: 500;
}
.operator {
  background: alpha(#2d2d2d, 0.2);
  color: @view_fg_color;
}
.operator:hover {
  background: alpha(#2d2d2d, 0.3);
}
.operator:active {
  background: alpha(#2d2d2d, 0.4);
}
.calc-entry {
  border-radius: 0px;
  background: none;
  padding: 8px 12px;
  box-shadow: none;
  outline-color: transparent;
}

.meson-red,
.suggested-action {
  color: @accent_fg_color;
}